<% set_meta_tags title: 'karoyakaについて' %>
<% content_for :title, 'karoyakaについて' %>

<div class="card card-style">
  <div class="content">
    <h2 class="mb-2 font-20">使い方</h2>
    <ol>
      <li class="mb-1">手放したいものを見つけたら、<br>下のメニューの 「 <i class="fas fa-lightbulb"></i><span>手放す</span> 」をタップ<br> → ページ上部の「手放したいものリスト <i class="fas fa-plus-circle font-18 btn-group-vertical color-orange-light opacity-75"></i> 」を押して手放したいものを登録</li>
      <li>実際に手放せたら、<br>下のメニューの 「 <i class="fas fa-dove"></i><span>手放した</span> 」をタップ<br> → ページ上部の「手放し済みリスト <i class="fas fa-plus-circle font-18 btn-group-vertical color-orange-light opacity-75"></i> 」を押して手放せたものを登録</li>
    </ol>
    <h2 class="mt-4 mb-2 font-20">目的</h2>
    <p class="mb-1">ものを手放す活動 ー 捨て活 をサポートすること🫡</p>
    <ul>
      <li class="font-800">捨て活のハードルを下げる仕掛け</li>
      <ul class="mb-2">
        <li>捨て活を<br>①手放すものを見つける<br>②実際に手放す<br> の２つのステップに分けて、ひとつひとつのタスクを達成可能なサイズに</li>
        <li>もののカテゴリー、手放す理由、手放す方法を登録する度に、自分の中にものを手放す基準を確立していける<br>→ 捨て活がどんどんラクに！</li>
      </ul>
      <li class="font-800">捨て活を習慣づける仕掛け</li>
      <ul>
        <li>捨て活の活動実績を視覚化し、達成感アップ</li>
        <li>捨て活のモチベーションを高める名言集を用意。お気に入りのものがあれば、マイページにも表示できる</li>
      </ul>
    </ul>
  </div>
</div>
