<% set_meta_tags title: 'トップページ' %>
<% content_for :title, 'トップページ' %>

<div class="card card-style">
  <div class="content">
    <p>１日に１つ、モノを手放そう</p>

    <h2>簡単２ステップ</h2>
    <p>①手放せるモノを見つける</p>
    <%= link_to '手放せるモノ見つけた！', about_path %>
    <p>②手放す（捨てる、譲る）</p>
    <%= link_to '手放せた！', root_path %>

    <%= link_to '捨て活やる気になれない', root_path %>

  </div>
</div>
