<% set_meta_tags title: '名言集一覧ページ' %>
<% content_for :title, '捨て活モチベ⤴︎ 名言集' %>

<% if user_signed_in? %>
  <div class="text-center mb-3">
    <%= active_link_to '全て表示', quotes_path, active: /.*quotes$/, class_active: 'active-nav',
                       class: 'me-3 py-2 border-bottom text-reset' %>
    <%= active_link_to 'お気に入りのみ表示', quotes_path(favorites: true), active: /^(?=.*favorites).*$/,
                       class_active: 'active-nav', class: 'py-2 border-bottom text-reset' %>
  </div>
<% end %>
<%= render @quotes %>
<%= paginate @quotes %>

