<h3 class="mx-3 mb-4">捨て活したくなる名言集</h3>

  <% @quotes.each do |quote| %>
    <%= link_to quote_path(quote), class: 'text-reset' do %>
    <div class="card card-style mb-3">
      <div class="content">
        <h4 class="font-16 font-600"><%= quote.content %></h4>
        <p class="text-end"><%= quote.author %></p>
      </div>
    </div>
    <% end %>
  <% end %>

