<h3 class="mx-3 mb-3">名言の詳細</h3>
<div class="card card-style">
  <div class="content">
    <h4 class="font-16 font-600"><%= @quote.content %></h4>
    <p class="text-end"><%= @quote.author %></p>
    <p><%= @quote.description.presence || '詳細情報なし' %></p>
  </div>
</div>
