<div class="card card-style">
  <div class="content">
    <h3>手放し済みリストの新規登録</h3>
    <p>
      手放したモノの画像、カテゴリー、名前、手放す理由、手放す方法を入力してください。
    </p>
    <%= render 'form', done_letting_go_item: @done_letting_go_item %>
  </div>
</div>
