<% if object.errors.any? %>
  <ul class="color-red-dark">
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<% if flash[:error].present? %>
  <ul class="color-red-dark">
    <% flash[:error].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>