<% flash.each do |message_type, message| %>
  <% if message_type == "notice" %>
    <div class="alert alert-primary mx-3"><%= message %></div>
  <% elsif message_type == "alert" %>
    <div class="alert alert-danger mx-3"><%= message %></div>
  <% end %>
<% end %>
