<h3 class="font-18">捨て活 <span class="font-24"><%= @user.decorate.day_what %></span>日目</h3>
<p class="font-10 line-height-xs color-green-dark my-3">
  <%= render 'achievements/chart', days: @user.decorate.days %>
</p>
<p class="font-12 mb-1">捨て活 とは、<br>手放したいものを見つけたり 実際に手放すこと。<br>コツコツ手放して 軽やかな生活を。</p>
