<div class="header header-fixed header-logo-center">
  <%= link_to "karoyaka", root_path, class: 'header-title' %>
  <%= link_to :back, class: 'header-icon header-icon-1' do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user), class: 'header-icon header-icon-4' do %>
      <i class="fas fa-user-circle"></i>
    <% end %>
  <% else %>
    <%= link_to login_path, class: 'header-icon header-icon-4' do %>
      <i class="fas fa-sign-in-alt"></i>
    <% end %>
  <% end %>
</div>
