<div class="header header-fixed header-logo-center">
  <div class="header-title"><%= yield :title %></div>
  <%= link_to 'javascript:history.back()', class: 'header-icon header-icon-1' do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= active_link_to mypage_account_path, active: %r{^/mypage}, class_active: 'active-nav',
                                                class: 'header-icon header-icon-4' do %>
      <i class="fas fa-user-circle font-20"></i>
<% end %>
  <% else %>
    <%= active_link_to login_path, active: :exclusive, class_active: 'active-nav', class: 'header-icon header-icon-4' do %>
      <i class="fas fa-sign-in-alt font-20"></i>
    <% end %>
  <% end %>
</div>
