<div class="header header-fixed header-logo-center">
  <a href="index.html" class="header-title">AppKit Mobile</a>
  <a href="#" class="header-icon header-icon-1"><i class="fas fa-envelope"></i><span class="badge bg-green1-dark">5</span></a>
  <a href="#" class="header-icon header-icon-2"><i class="fas fa-bars"></i></a>
  <a href="#" class="header-icon header-icon-3"><i class="fas fa-heart color-red2-light"></i></a>
  <a href="#" class="header-icon header-icon-4"><i class="fas fa-share-alt"></i></a>
</div>